<include file="Common:header" />
    <link rel="stylesheet" href="/Public/Home/css/xadmin.css">
    <script type="text/javascript" src="/Public/Home/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Public/Home/lib2/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/Public/Home/laydate/theme/default/laydate.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" style="text-align: center">
          <input class="layui-input" placeholder="开始日" name="stat_date" id="start" autocomplete="off">
          <input class="layui-input" placeholder="截止日" name="stop_date" id="end" autocomplete="off">
          <div class="layui-input-inline">
            <select name="server_status">
              <option value="">回访状态</option>
              <option value="2">待回访</option>
              <option value="1">已回访</option>
            </select>
          </div>
          <input type="text" name="word"  placeholder="模糊搜索" autocomplete="off" class="layui-input" style="width: 120px">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </form>
      </div>
      <xblock>
        <div class="layui-input-inline">
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;margin-left: 10px;padding: 2px 4px"  href="/Home/Server/index" title="首页">
            <img src="/Public/Home/images/indexw.png" style="vertical-align: baseline;width: 27px;height: 27px">
            </a>
        </div>
        <span class="x-right" style="line-height:40px">全部：
            <a title="订单"  href="/Home/Server/index?day=history">
               {$statistical.history}
            </a>
        </span>
        <span class="x-right" style="line-height:40px">今年：
            <a title="订单"  href="/Home/Server/index?day=year">
              {$statistical.year}
            </a>
        </span>
        <span class="x-right" style="line-height:40px">上月：
            <a title="订单"  href="/Home/Server/index?day=lastmonth">
                {$statistical.lastmonth}
            </a></span>
        <span class="x-right" style="line-height:40px">本月：
            <a title="订单"  href="/Home/Server/index?day=month">
                {$statistical.month}
            </a>
        </span>
        <span class="x-right" style="line-height:40px">上周：
            <a title="订单"  href="/Home/Server/index?day=lastweek">
                {$statistical.lastweek}
            </a>
        </span>
        <span class="x-right" style="line-height:40px">本周：
            <a title="订单"  href="/Home/Server/index?day=weekday">
                {$statistical.weekday}
            </a>
        </span>
        <span class="x-right" style="line-height:40px">昨天：
            <a title="订单"  href="/Home/Server/index?day=yestoday">
                {$statistical.yesterday}
            </a>
        </span>
        <span class="x-right" style="line-height:40px">今天：
            <a title="订单"  href="/Home/Server/index?day=today">
                {$statistical.today}
            </a>
        </span>
      </xblock>
      <style>.layui-table td, .layui-table th{text-align: center;}</style>
      <table class="layui-table">
        <thead>
          <tr>
            <th width="30px">序号</th>
            <th>客户姓名</th>
            <th>商品</th>
            <th>成交金额</th>
            <th>订单记录</th>
            <th>回访记录</th>
            <th>回访状态</th>
            <th>回访时间</th>
            <th>签单时间</th>
            <th>销售人员</th>
            <th width="60px">操作</th>
            </tr>
        </thead>
        <tbody>
          <foreach name="info" item="v">
              <tr <if condition="$v['server_status'] neq 0">style="color:red"</if>>
              <td>{++$i}</td>
              <td><font style="font-weight: bold;">{$v.customer_name}</font></td>
              <td>{$v.goods_de}</td>
              <td><font style="font-weight: bold;">{$v.orderprice|substr=###,0,-3}</font></td>
                <td class="note">{$v.desc}</td>
                <td class="note">{$v.server_note}</td>
                <td>
                    <if condition="$v['server_status'] eq 0">
                        <button class="layui-btn btn_style" style="background-color: #1ba194">待</button>
                    <else />
                        <button class="layui-btn btn_style" style="background-color: red">已</button>
                    </if>
                </td>
              <td><if condition="$v['create_time_note'] neq null">{$v.create_time_note|date="Y-m-d",###}</if></td>
              <td><if condition="$v['reciivingtime'] neq null">{$v.create_time_note|date="Y-m-d",###}</if></td>
              <td>{$v.nickname}</td>
              <td class="td-manage">
                  <in name="action_name.Order_show" value="$role_ac">
                        <a title="查看"  onclick="x_admin_show('查看','/Home/Order/show?orderid={$v.orderid}',1200,700)" href="javascript:;" style="margin-right: 10px">
                          <i class="layui-icon"   style="vertical-align: baseline;width: 13px">&#xe63c;</i>
                        </a>
                  <else />
                        <a title="查看" class="layui-btn-disabled-button" href="javascript:;" style="margin-right: 10px">
                          <i class="layui-icon"   style="vertical-align: baseline;width: 13px">&#xe63c;</i>
                        </a>
                  </in>
                  <in name="action_name.Server_server" value="$role_ac">
                        <a title="客服" href="javascript:;" onclick="x_admin_show('客服','/Home/Server/server?orderid={$v.orderid}&customer_name={$v.customer_name}&customer_phone={$v.customer_phone}',800,500)" class="ml-5" style="margin-right: 10px">
                            <i class="layui-icon"   style="vertical-align: baseline;width: 13px">&#xe642;</i>
                        </a>
                  <else />
                        <a title="客服" href="javascript:;" class="ml-5 layui-btn-disabled-button" style="margin-right: 10px">
                            <i class="layui-icon"   style="vertical-align: baseline;width: 13px">&#xe642;</i>
                        </a>
                  </in>
              </td>
            </tr>
          </foreach>
        </tbody>
      </table>
      <div class="page" style="text-align: right;margin-bottom: 30px">{$page}</div>
    </div>
    </div>
    <script>
      layui.use('laydate', function(){
          var laydate = layui.laydate;

          //执行一个laydate实例
          laydate.render({
              elem: '#start' //指定元素
          });

          //执行一个laydate实例
          laydate.render({
              elem: '#end' //指定元素
          });
      });
      
    </script>
  </body>
</html>