<include file="Common:header" />
<link rel="stylesheet" href="/Public/Home/lib2/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/Public/Home/laydate/theme/default/laydate.css">
</head>
    <body style="background-color: #f0f2f5">
        <div class="x-body">
            <style>
                #ListAction{
                    margin-top: 3%;
                    margin-left: 40%;
                    width: 20%;
                }
                 #test1{
                    
                     display: inline-block;
                 }
                
                #upload{
                    width: 65%;
                    height: 50px;
                    margin-left: 25%;
                    margin-top: 10%;
                }
                .layui-input{
                    display: inline-block;
                    width: 50%;
                    height: 50px;
                    line-height: 50px;
                }
                .btn-height{
                    height: 50px;
                }
                #detection{
                    width: 140px;
                }
                #result{
                    width: 50%;
                    height: 330px;
                    background-color: white;
                    margin-left: 25%;
                }
                .delection_item,.delection_num{
                    display: inline-block;
                    font-size: 16px;
                    margin-top: 30px;
                    margin-left: 20%;
                }
                #yes,#succ{
                    color: #1AA094;
                }
            </style>
            <div id="upload">
                <input type="text" name="" value="" id="name" autocomplete="off" class="layui-input">
                <button type="button" class="layui-btn btn-height" id="test1">
                  <i class="layui-icon">&#xe67c;</i>选择TXT文件
                </button>
                <button type="button" class="layui-btn btn-height" id="detection">
                   检测
                </button>
            </div>
            <div id="result">
                <div style="margin-top: 40px">
                    <div class="delection_item">　总检测：</div><div class="delection_num" id="totle">0</div>
                </div>
                <div>
                   <div class="delection_item">符合条件：</div><div class="delection_num" id="yes">0</div>
                </div>
                <div>
                   <div class="delection_item">重复号码：</div><div class="delection_num" id="rephone">0</div>
                </div>
                <div>
                   <div class="delection_item">自身重复：</div><div class="delection_num" id="chong">0</div>
                </div>
                <div>
                    <div class="delection_item">无法识别：</div><div class="delection_num" id="no">0</div>
                </div>
                <div>
                    <div class="delection_item">检测时间：</div><div class="delection_num" id="time">0</div>
                </div>
            </div>
        </div>
        </div>
        <script type="text/javascript" src="/Public/Home/js/jquery.min.js"></script>
        <script src="/Public/Home/lib2/layui/layui.js" charset="utf-8"></script>
        <script src="/Public/Home/js/x-layui.js" charset="utf-8"></script>
        
        <script>
            layui.use('upload', function(){
                var upload = layui.upload;
                
                //检测
                var uploadInsts = upload.render({
                    elem: '#test1' //绑定元素
                    ,url: 'detection_redis' //上传接口
                    ,accept: 'file'
                    ,exts: 'txt'
                    ,size:0
                    ,drag:true
                    ,method:'post'
                    ,auto: false //选择文件后不自动上传
                    ,data:{'type':'txt','bhv':'delection'}
                    ,bindAction: '#detection' //指向一个按钮触发上传
                    ,choose: function(obj){
                        //将每次选择的文件追加到文件队列
                        var files = obj.pushFile();
                        //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                        obj.preview(function(index, file, result){
                            $('#name').val(file.name);
                        });
                    }
                    ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                        layer.load(); //上传loading
                    }
                    ,done: function(res, index, upload){
                        layer.closeAll('loading'); //关闭loading
                        // var t = numbers($('#totle').html());
                        // var y = numbers($('#yes').html());
                        // var r = numbers($('#rephone').html());
                        // var n = numbers($('#no').html());
                        if(res.statu == 200){
                            $('#totle').html(res.msg.totle);
                            $('#yes').html(res.msg.successyes);
                            $('#rephone').html(res.msg.rephone);
                            $('#no').html(res.msg.no);
                            $('#time').html(res.msg.time);
                            $('#chong').html(res.msg.chong);
                            // layer.msg(res.tip);
                            layer.alert(res.tip, {icon: 6});
                            // setTimeout(function(){ alert("Hello"); }, 800);
                        }else{
                            if(res.msg){
                                $('#totle').html(res.msg.totle);
                                $('#yes').html(res.msg.successyes);
                                $('#rephone').html(res.msg.rephone);
                                $('#no').html(res.msg.no);
                                $('#time').html(res.msg.time);
                                $('#chong').html(res.msg.chong);
                            }
                            layer.alert(res.tip, {icon: 5});
                            return false;
                        }
                    }
                    ,error: function(index, upload){
                        layer.closeAll('loading'); //关闭loading
                        layer.msg(res.msg);
                        return false;
                    }
                });
            });
        </script>
    </body>
</html>