<include file="Common:header" />
    </head>
    <body>
        <div class="x-body">
            <style>.td-manage a{ margin-left: 10px; }
            </style>
            <xblock>
                  <in name="action_name.Admin_add_group" value="$role_ac">
                        <button class="layui-btn" onclick="admin_add('添加分组','/Home/Admin/add_group','600','400')"><i class="layui-icon">&#xe608;</i>添加</button>
                  <else />
                        <button class="layui-btn layui-btn-disabled-button"><i class="layui-icon">&#xe608;</i>添加</button>
                  </in>
                <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span></xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            序号
                        </th>
                        <th>
                            组名
                        </th>
                        <th>
                            组员
                        </th>
                        <th>
                            描述
                        </th>
                        <th>
                            销售组
                        </th>
                        <th>
                            创建时间
                        </th>
                        <th width="70px">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="info" item="v">
                        <tr>
                            <td>
                                {++$i}
                            </td>
                            <td>
                                {$v.group_name}
                            </td>
                            <td>
                               {$v.team}
                            </td>
                            <td>
                               {$v.remark}
                            </td>
                            <td>
                               {$v.issale}
                            </td>
                             <td>
                                {$v.create_time|date='Y-m-d',###}
                            </td>
                            <td class="td-manage">
                                <in name="action_name.Admin_edit_group" value="$role_ac">
                                        <a title="编辑" href="javascript:;" onclick="admin_edit('编辑','/Home/Admin/edit_group','{$v.group_id}','','400')" class="ml-5" style="text-decoration:none">
                                            <i class="layui-icon">&#xe642;</i>
                                        </a>
                                  <else />
                                    <a title="编辑" href="javascript:;"  class="ml-5 layui-btn-disabled-button" style="text-decoration:none">
                                        <i class="layui-icon">&#xe642;</i>
                                    </a>
                                </in>
                                <in name="action_name.Admin_del_group" value="$role_ac">
                                        <a title="删除" href="javascript:;" onclick="admin_del(this,'{$v.group_id}')"
                                           style="text-decoration:none">
                                            <i class="layui-icon">&#xe640;</i>
                                        </a>
                                  <else />
                                    <a title="删除" href="javascript:;" class="ml-5 layui-btn-disabled-button" style="text-decoration:none">
                                        <i class="layui-icon">&#xe640;</i>
                                    </a>
                                </in>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
        </div>
        <script src="/Public/Home/lib/layui/layui.js" charset="utf-8"></script>
        <script>
            layui.use(['element','layer'], function(){
                $ = layui.jquery;//jquery
                layer = layui.layer;//弹出层
                
            });

           
            /*添加*/
            function admin_add(title,url,w,h){
                x_admin_show(title,url,w,h);
            }
            //编辑
            function admin_edit (title,url,id,w,h) {
                url = url+'?group_id='+id;
                x_admin_show(title,url,w,h);
            }
            /*删除*/
            function admin_del(obj,id){
                layer.confirm('确认要删除吗？',function(index){
                    $.ajax({
                        type: 'POST',
                        url: '/Home/Admin/del_group',
                        dataType: 'json',
                        data:{'group_id':id},
                        success: function(data){
                            if(data.statu == 200){
                                $(obj).parents("tr").remove();
                                layer.msg('已删除!',{icon:1,time:1000});
                            }else{
                                layer.msg(data.msg);
                                return false;
                            }
                        },
                        error:function(data) {
                            layer.msg('系统错误');
                        },
                    });
                });
            }
            
            </script>
        <script src="/Public/Home/js/x-layui.js" charset="utf-8"></script>
    </body>
</html>