<include file="Common:header" />
    </head>
    <body>
        <div class="x-body">
            <xblock>
                <in name="action_name.Admin_add" value="$role_ac">
                    <button class="layui-btn layui-btn-danger size_btn"  onclick="delAll('清空记录','/Home/Admin/del_all_work')"><i class="layui-icon">&#xe608;</i>清空记录</button>
                  <else />
                    <button class="layui-btn layui-btn-disabled-button size_btn"><i class="layui-icon">&#xe608;</i>清空记录</button>
                </in>
                <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span>
            </xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            序号
                        </th>
                        <th>
                            姓名
                        </th>
                        <th>
                            登陆状态
                        </th>
                        <th>
                            IP
                        </th>
                        <th>
                            地域
                        </th>
                        <th>
                            操作状态
                        </th>
                        <th>
                            操作时间
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="list" item="v">
                        <tr>
                            <td>
                                {++$i}
                            </td>
                            <td>
                               {$v.loginnickname}
                            </td>
                            <td >
                                <if condition="$v['loginstatus'] eq 1">用户【{$v.loginname}】登陆成功</if>
                                <if condition="$v['loginstatus'] eq 2">用户【{$v.loginname}】登陆失败：{$v.errorinfo}</if>
                            </td>
                            <td >
                                {$v.ip}
                            </td>
                            <td>
                                {$v.city}
                            </td>
                            <td>
                                <if condition="$v['loginstatus'] eq 1">操作成功</if>
                                <if condition="$v['loginstatus'] eq 2"><font color="red">操作失败</font></if>
                            </td>
                            <td>
                                {$v.logintime|date='Y-m-d H:i:s',###}
                            </td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
            <div id="page">{$page}</div>
        </div>
        <script src="/Public/Home/lib/layui/layui.js" charset="utf-8"></script>
        <script>
            layui.use(['laydate','element','layer'], function(){
                $ = layui.jquery;//jquery
                laydate = layui.laydate;//日期插件
                layer = layui.layer;//弹出层
                
                var start = {
                    istoday: false
                    ,choose: function(datas){
                        end.min = datas; //开始日选好后，重置结束日的最小日期
                        end.start = datas //将结束日的初始值设定为开始日
                    }
                };

                var end = {
                    istoday: false
                    ,choose: function(datas){
                        start.max = datas; //结束日选好后，重置开始日的最大日期
                    }
                };

                document.getElementById('LAY_demorange_s').onclick = function(){
                    start.elem = this;
                    laydate(start);
                }
                document.getElementById('LAY_demorange_e').onclick = function(){
                    end.elem = this
                    laydate(end);
                }

            });

            //批量删除提交
            function delAll (title,url) {
                layer.confirm('确认要删除所有记录吗？',function(index){
                    $.ajax({
                        type: 'POST',
                        url: url,
                        dataType: 'json',
                        success: function(data){
                            if(data.statu == 200){
                                layer.msg(data.msg, {icon: 1});
                            }else{
                                layer.msg(data.msg);
                                return false;
                            }
                        },
                        error:function(data) {
                            layer.msg('系统错误');
                        },
                    });
                });
            }
          </script>
        <script src="/Public/Home/js/x-layui.js" charset="utf-8"></script>
    </body>
</html>