<include file="Common:header" />
        <link rel="stylesheet" href="/Public/Home/lib2/layui/css/layui.css" media="all">
    </head>
    <body style="background-color: #f0f2f5">
        <style>
            .layui-fluid{margin-top: 20px;width: 98%;margin-left: 1%;background-color: white;padding: 0;}
            .layui-input{color: #666;font-weight: normal;}
        </style>
        <div class="layui-fluid">
            <div class="layui-card">
                <div class="x-body">
                <xblock style="background-color: white !important;margin: 0">
                      <in name="action_name.System_add" value="$role_ac">
                        <button class="layui-btn"  onclick="admin_add('添加商品','/Home/System/add','500','500')">
                            <i class="layui-icon">&#xe608;</i> 添 加
                        </button>
                      <else />
                        <button class="layui-btn layui-btn-disabled-button">
                            <i class="layui-icon">&#xe608;</i> 添 加
                        </button>
                      </in>
                </xblock>
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th width="90px">
                                月份
                            </th>
                            <th width="120px">
                                目标
                            </th>
                            <th width="90px">
                                已完成
                            </th>
                            <th width="90px">
                                完成度
                            </th>
                            <th>
                                进度
                            </th>
                            <th width="90px">
                                完成状态
                            </th>
                            <th width="300px">
                                对自己说
                            </th>
                            <th width="30px">操作</th>
                        </tr>
                    </thead>
                    <style>.layui-table td, .layui-table th{text-align: center;}</style>
                    <tbody>
                        <foreach name="info" item="v">
                            <tr>
                                <td>
                                    {$v.month}
                                </td>
                                <td>
                                    {$v.aim}
                                </td>
                                <td>
                                    {$v.complete}
                                </td>
                                <td>
                                    {$v.avg}
                                </td>
                                <td>
                                    <div class="layui-progress" lay-showpercent="true">
                                      <div class="layui-progress-bar" lay-percent="{$v.avg}"></div>
                                    </div>
                                </td>
                                <td>
                                    <if condition="$v['complete'] gt $v['aim']">
                                        完成
                                        <else/>
                                        未完成
                                    </if>
                                </td>
                                <td>
                                    {$v.note}
                                </td>
                                <td class="td-manage">
                                    <in name="action_name.Role_del" value="$role_ac">
                                        <a title="删除" href="javascript:;" onclick="del_aim(this,'{$v.id}')"
                                           style="text-decoration:none;">
                                            <i class="layui-icon">&#xe640;</i>
                                        </a>
                                      <else />
                                        <a title="删除" href="javascript:;" class="ml-5 layui-btn-disabled-button" style="text-decoration:none;margin-left: 10px">
                                            <i class="layui-icon">&#xe640;</i>
                                        </a>
                                    </in>
                                </td>
                            </tr>
                        </foreach>
                    </tbody>
                </table>
                <div id="page" style="margin-bottom: 50px;">{$page}</div>
              </div>
           </div>
        </div>

        <script src="/Public/Home/lib2/layui/layui.js" charset="utf-8"></script>
        <script src="/Public/Home/js/x-layui.js" charset="utf-8"></script>
        
        <script>
            layui.use(['element','layer'], function(){
                $ = layui.jquery;//jquery
                layer = layui.layer;//弹出层
            });
            /*添加*/
            function admin_add(title,url,w,h){
                x_admin_show(title,url,w,h);
            }
            /*删除*/
            function del_aim(obj,id){
                layer.confirm('确认要删除吗？',function(index){
                    $.ajax({
                        type: 'POST',
                        url: '/Home/System/del_aim',
                        dataType: 'json',
                        data:{'id':id},
                        success: function(data){
                            if(data.statu == 200){
                                $(obj).parents("tr").remove();
                                layer.msg(data.msg,{icon:1,time:1000});
                            }else{
                                layer.msg(data.msg);
                                return false;
                            }
                        },
                        error:function(data) {
                            layer.msg('系统错误');
                        },
                    });
                });
            }
        </script>
    </body>
</html>