<include file="Common:header" />
        <link rel="stylesheet" href="/Public/Home/lib2/layui/css/layui.css" media="all">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header header header-demo header_cont">
                <div class="layui-main" style="min-width: 1142px">
                    <style>a:hover{color: white;}</style>
                    <a class="logo" href="">
                        <img src="/Public/Home/images/logo.png">
                       <font style="font-size: 26px"><i>风暴<div id="crm">CRM</div>管理系统</i></font>
                    </a>
                    <if condition="$aim_this_month['aim'] neq 'aim'">
                        <span id="span">
                                <img src="/Public/Home/images/mubiao.png"> 任务目标：<div class="number">{$aim_this_month.aim}</div>
                                <img src="/Public/Home/images/read.png"> 已完成：<div class="number">{$aim_this_month.complete|substr=###,0,-3}</div>
                                <img src="/Public/Home/images/avg.png"> 完成进度：<div class="number">{$aim_this_month.avg}</div>
                        </span>
                    </if>
                    <ul class="layui-nav nav_class" lay-filter="side">
                        <li class="layui-nav-item nav_class_item">
                            <a href="javascript:;" _href="/Home/Customer/backlog?day=today" id="message" title="消息">
                                <img src="/Public/Home/images/tip.png" id="tips"><cite>今日待办</cite>
                                <span>{$backlog_count}</span>
                            </a>
                        </li>
                          <li class="layui-nav-item">
                              <a href="javascript:;" _href="Home/System/index">
                                <img src="{$avatar}" class="layui-circle" id="avatar"  alt="">
                                  <cite style="display: none">个人信息</cite>
                              </a>
                          </li>
                          <li class="layui-nav-item" style="margin-right: 50px">
                            <a href="javascript:;">{$Think.session.nickname}</a>
                            <dl class="layui-nav-child">
                              <dd><a href="javascript:;" _href="Home/System/index"><cite>个人信息</cite></a></dd>
                              <a href="{:U('Manage/logout')}"><cite>退出</cite></a>
                            </dl>
                          </li>
                    </ul>
                </div>
            </div>
            <div class="layui-side layui-bg-black x-side">
                <div class="layui-side-scroll">
                    <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
                        <foreach name="authinfoA" item="v">
                            <li class="layui-nav-item">
                                <a class="javascript:;" href="javascript:;"  _href="Home/{$v['auth_c']}/{$v['auth_a']}">
                                    <i class="layui-icon" style="top: 3px;">{$v.icon}</i><cite>{$v.auth_name}</cite>
                                </a>
                                <dl class="layui-nav-child">
                                    <foreach name="authinfoB" item="vv">
                                        <eq name="vv.auth_pid" value="$v.auth_id">
                                            <dd class="">
                                                <a href="javascript:;" _href="Home/{$vv['auth_c']}/{$vv['auth_a']}">
                                                    <cite>{$vv.auth_name}</cite>
                                                </a>
                                            </dd>
                                        </eq>
                                    </foreach>
                                </dl>
                            </li>
                        </foreach>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layui-tab layui-tab-card site-demo-title x-main" lay-filter="x-tab" lay-allowclose="true">
                <div class="x-slide_left"></div>
                <ul class="layui-tab-title" id="myList">
                    <li class="layui-this">
                        我的桌面
                        <i class="layui-icon layui-unselect layui-tab-close">ဆ</i>
                    </li>
                </ul>
                <div class="layui-tab-content site-demo site-demo-body">
                    <div class="layui-tab-item layui-show">
                       <if condition="$roleid eq 2">
                           <iframe frameborder="0" src="/Home/Index/storm" class="x-iframe"></iframe>
                         <else/>
                           <iframe frameborder="0" src="/Home/Index/wel" class="x-iframe"></iframe>
                       </if>
                       
                    </div>
                </div>
            </div>
            <div class="site-mobile-shade">
            </div>
        </div>
        <script src="/Public/Home/lib/layui/layui.js" charset="utf-8"></script>
        <script src="/Public/Home/js/x-admin.js"></script>
</body>
</html>