<include file="Common:header" />
    </head>
    <body>
        <div class="x-body">
            <xblock>
                  <in name="action_name.Role_add" value="$role_ac">
                    <button class="layui-btn" onclick="role_add('添加角色','/Home/Role/add','500','400')"><i class="layui-icon">&#xe608;</i>添加</button>
                  <else />
                    <button class="layui-btn layui-btn-disabled-button"><i class="layui-icon">&#xe608;</i>添加</button>
                  </in>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th width="30px">
                            序号
                        </th>
                        <th>
                            角色名
                        </th>
                        <th>
                            描述
                        </th>
                        <th width="90px">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="info" item="v">
                        <tr>
                            <td>
                                <?php $i++;echo $i;  ?>
                            </td>
                            <td>
                                {$v.name}
                            </td>
                            <td >
                                {$v.description}
                            </td>
                            <td class="td-manage">
                                <in name="action_name.Role_distribution" value="$role_ac">
                                    <a title="分配权限" href="javascript:;" onclick="role_distribution('分配权限','/Home/Role/distribution','1000','700','{$v.id}')"
                                       class="ml-5" style="text-decoration:none;margin-left: 10px">
                                        <i class="layui-icon">&#xe614;</i>
                                    </a>
                                  <else />
                                    <a title="分配权限" href="javascript:;"  class="ml-5 layui-btn-disabled-button" style="text-decoration:none;margin-left: 10px">
                                        <i class="layui-icon">&#xe614;</i>
                                    </a>
                                </in>
                                <in name="action_name.Role_edit" value="$role_ac">
                                    <a title="编辑" href="javascript:;" onclick="role_edit('编辑','/Home/Role/edit','{$v.id}','510','400')"
                                       class="ml-5" style="text-decoration:none;margin-left: 10px">
                                        <i class="layui-icon">&#xe642;</i>
                                    </a>
                                  <else />
                                    <a title="编辑" href="javascript:;"  class="ml-5 layui-btn-disabled-button" style="text-decoration:none;margin-left: 10px">
                                        <i class="layui-icon">&#xe642;</i>
                                    </a>
                                </in>
                                 <in name="action_name.Role_del" value="$role_ac">
                                    <a title="删除" href="javascript:;" onclick="role_del(this,'{$v.id}')"
                                       style="text-decoration:none;margin-left: 10px">
                                        <i class="layui-icon">&#xe640;</i>
                                    </a>
                                  <else />
                                    <a title="删除" href="javascript:;" class="ml-5 layui-btn-disabled-button" style="text-decoration:none;margin-left: 10px">
                                        <i class="layui-icon">&#xe640;</i>
                                    </a>
                                </in>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
            </table>

            <div id="page" style="margin-bottom: 50px"></div>
        </div>
        <script src="/Public/Home/lib/layui/layui.js" charset="utf-8"></script>
        <script src="/Public/Home/js/x-layui.js" charset="utf-8"></script>
        <script>
            layui.use(['element','layer'], function(){
                $ = layui.jquery;//jquery
              lement = layui.element();//面包导航
              layer = layui.layer;//弹出层

              //以上模块根据需要引入
            });

            /*删除*/
            function role_del(obj,id){
                layer.confirm('确认要删除吗？',function(index){
                    var role_id = id;
                    $.ajax({
                        type: 'POST',
                        url: '/Home/Role/del',
                        dataType: 'json',
                        data:{'role_id':role_id},
                        success: function(data){
                            if(data.statu == 200){
                                $(obj).parents("tr").remove();
                                layer.msg(data.msg,{icon:1,time:1000});
                            }else{
                                layer.msg(data.msg);
                                return false;
                            }
                        },
                        error:function(data) {
                            layer.msg('系统错误');
                        },
                    });
                });
            }
             /*添加*/
            function role_add(title,url,w,h,id){
                x_admin_show(title,url,w,h,id);
            }
            
            /*分配*/
            function role_distribution(title,url,w,h,id){
                url = url+'?role_id='+id;
                x_admin_show(title,url,w,h);
            }

             
            //编辑
            function role_edit (title,url,id,w,h) {
                url = url+'?role_id='+id;
                x_admin_show(title,url,w,h);
            }
        </script>
    </body>
</html>