<include file="Common:header" />
    <script type="text/javascript" src="/Public/Home/lib2/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/Public/Home/laydate/theme/default/laydate.css">
  </head>
  <style>
      .layui-input{width: 245px;}
      .layui-form-item{width: 46%;display: inline-block;}
      .layui-textarea{min-height: 50px;}
      .layui-form-select .layui-edge{ right: -40px;}
  </style>
  <body>
    <div class="x-body">
        <form class="layui-form" onsubmit="return false">
            <input type="hidden"  name="orderid" value="{$order.orderid}">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red"></span>收货人
              </label>
              <div class="layui-input-inline">
                  <input type="text" name="username" value="{$name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话&nbsp;&nbsp;{$phone}" required="" readonly
                  autocomplete="off" class="layui-input" style="border: 0">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="address" class="layui-form-label">
                  <span class="x-red"></span>收货地址
              </label>
              <div class="layui-input-inline">
                  <input type="text" name="address" value="{$address}" required=""  readonly
                  autocomplete="off" class="layui-input" style="border: 0">
              </div>
          </div>
            <div class="layui-form-item">
              <label for="refunds" class="layui-form-label">
                  <span class="x-red"></span>返款金额
              </label>
              <div class="layui-input-inline">
                  <input type="text" name="refunds" value="{$order.refunds|substr=###,0,-3}"   autocomplete="off" class="layui-input">
              </div>
          </div>
            <div class="layui-form-item">
              <label for="serverfee" class="layui-form-label">
                  <span class="x-red"></span>手续费
              </label>
              <div class="layui-input-inline">
                  <input type="text" name="serverfee" value="{$order.serverfee|substr=###,0,-3}"   autocomplete="off" class="layui-input">
              </div>
          </div>
          
          <div class="layui-form-item">
              <label for="orderstatus" class="layui-form-label">
                  <span class="x-red">*</span>签单状态
              </label>
              <div class="layui-input-inline">
                  <select name="orderstatus">
                      <if condition="$order['orderstatus'] eq 1"><option value="1" selected>待发货</option><else /><option value="1">待发货</option></if>
                      <if condition="$order['orderstatus'] eq 2"><option value="2" selected>已发货</option><else /><option value="2">已发货</option></if>
                      <if condition="$order['orderstatus'] eq 3"><option value="3" selected>已签收</option><else /><option value="3">已签收</option></if>
                      <if condition="$order['orderstatus'] eq 4"><option value="4" selected>退单</option><else /><option value="4">退单</option></if>
                  </select>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="reciivingtime" class="layui-form-label">
                  <span class="x-red">*</span>收货时间
              </label>
              <div class="layui-input-inline">
                      <input class="layui-input" name="reciivingtime" value="{$order.收货时间}" placeholder="收货时间" id="LAY_demorange_s" autocomplete="off">
              </div>
          </div>
          <div class="layui-form-item layui-form-text" style="width: 93%">
              <label for="desc" class="layui-form-label">
                  描述
              </label>
              <div class="layui-input-block">
                  <textarea placeholder="请输入内容" id="desc" name="desc" class="layui-textarea">{$order.desc}</textarea>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  提交
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer','laydate'], function(){
            $ = layui.jquery;
            laydate = layui.laydate;
          var form = layui.form
          ,layer = layui.layer;

            laydate.render({
                elem: '#LAY_demorange_s', //指定元素
                type: 'datetime',
                format: 'y-MM-dd',
                value: new Date()
            });
          //监听提交
          form.on('submit(add)', function(data){
              var data = data.field;
              $.ajax({
                  type: 'POST',
                  url: '',
                  dataType: 'json',
                  data:data,
                  success: function(data){
                      if(data.statu == 200){
                          layer.alert(data.msg, {icon: 6},function () {
                              // 获得frame索引
                              var index = parent.layer.getFrameIndex(window.name);
                              //关闭当前frame
                              parent.layer.close(index);
                              //刷新父页面
                              window.parent.location.reload();
                          });
                      }else{
                          layer.msg(data.msg);
                          return false;
                      }
                  },
                  error:function(data) {
                      layer.msg('系统错误');
                  },
              });
          });
        });
    </script>
  </body>
</html>