<include file="Common:header" />
  </head>
  <body>
    <div class="x-body">
             <div class="block_title">收货人信息</div>
             <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            收货人姓名
                        </th>
                       <th>
                            收货人电话
                        </th>
                        <th>
                            收货人地址
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {$info.name}
                        </td>
                        <td>
                            {$info.phone}
                        </td>
                        <td>
                            {$info.address}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="block_title title3">订单详情</div>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            订单号
                        </th>
                        <th>
                            购买商品
                        </th>
                        <th>
                            订单金额
                        </th>
                        <th>
                            优惠金额
                        </th>
                        <th>
                            已付款
                        </th>
                        <th>
                            待付款
                        </th>
                        <th>
                            付款方式
                        </th>
                        <th>
                            支付方式
                        </th>
                        <th>
                            订单状态
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {$info.orderno}
                        </td>
                        <td>
                            {$info.goods_de}
                        </td>
                        <th>
                            {$info.orderprice|substr=###,0,-3}
                        </th>
                        <th>
                            {$info.cheapprice|substr=###,0,-3}
                        </th>
                        <th>
                            {$info.pay|substr=###,0,-3}
                        </th>
                        <th>
                            {$info.payment|substr=###,0,-3}
                        </th>
                        <th>
                            {$info.paytype}
                        </th>
                        <th>
                           {$info.payform}
                        </th>
                        <th>
                            {$info.orderstatus}
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="block_title title3">物流信息</div>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            快递名称
                        </th>
                        <th>
                            快递单号
                        </th>
                        <th>
                            快递费
                        </th>
                        <th>
                            发货时间
                        </th>
                        <th>
                            签收时间
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {$info.couriername}
                        </td>
                        <td>
                            {$info.courierlist}
                        </td>
                        <td>
                            {$info.courierfee}
                        </td>
                        <td>
                            <if condition="$info['deliverytime'] neq 0">
                                {$info.deliverytime|date="Y-m-d",###}
                            </if>
                        </td>
                        <td>
                            <if condition="$info['reciivingtime'] neq 0">
                                {$info.reciivingtime|date="Y-m-d",###}
                            </if>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="block_title title3">订单备注</div>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th width="120px">
                            项目-销售
                        </th>
                        <th>
                            订单备注
                        </th>
                        <th>
                            客服回访
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {$info.objectsale}
                        </td>
                        <td>
                            {$info.desc}
                        </td>
                         <td>
                            {$info.server_note}
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
  </body>
</html>