<include file="Common:header" />
        <link rel="stylesheet" href="/Public/Home/lib2/layui/css/layui.css" media="all">
    </head>
    <body style="background-color: #f0f2f5">
        <style>
            .layui-fluid{ margin-top: 20px;margin-bottom: 30px;}
            .layui-bg-green{width: 101.8%;margin-left: -1%;margin-top: -10px;}
			.layui-layer-dialog{background-color: #f8f8f8}
        </style>
        <div class="layui-fluid">
            <div class="layui-card">
                <div class="x-body">
            		<style>
                        .layui-col-space30{margin-left: -1.5%;width: 102%;}
                        .layui-nav{height: 45px;}
                        #layui-nav-item,#layui-nav-item1{height: 45px;line-height: 45px;}
					</style>
                <xblock style="background-color: white !important;margin-top: 5px">
					<ul class="layui-nav layui-bg-green">
					  <li class="layui-nav-item" id="layui-nav-item1"><a href="{:U('Material/index')}">首页</a></li>
					  	<foreach name="class" item="c">
							<li class="layui-nav-item" id="layui-nav-item">
								<a href="{:U('Material/index',['id'=>$c['id']])}">{$c.class_name}</a>
								<dl class="layui-nav-child" style="top:46px">
									<foreach name="pic_type" item="p">
										<if condition="$c['id'] eq $p['class_id']">
											<dd><a href="{:U('Material/index',['id'=>$c['id'],'type'=>$p['id']])}">{$p.type}</a></dd>
										</if>
									</foreach>
								</dl>
							</li>
					 	</foreach>
					</ul>
                </xblock>
					  <div class="layui-row layui-col-space30" style="margin-bottom: 50px;">
						  <foreach name="list" item="v">
							  <div class="layui-col-xs6 layui-col-sm3 layui-col-md2" id="content_sm">
								  <div class="grid-demo grid-demo-bg1">
									  <img onclick="big_img(960,540,'{$v.pic_url}','{$v.note}')" src="{$v.pic_thums_url}" style="cursor: pointer">
								  </div>
							  </div>
						  </foreach>
					  </div>
                      <div id="page">{$page}</div>
        		</div>
            </div>
        </div>
        <script src="/Public/Home/lib/layui/layui.js" charset="utf-8"></script>
        <script src="/Public/Home/js/x-layui.js" charset="utf-8"></script>
        <script>
            layui.use(['element','layer'], function(){
                $ = layui.jquery;//jquery
              layer = layui.layer;//弹出层
              
              
            });
        </script>
        <script>
            function big_img(w,h,urlimg,note){
                layer.open({
                    title: '素材图片',
                    type: 0,
                    area: [w, h], //宽高
                    content: '<a href="'+urlimg+'" download="'+note+'" style="width:960px;text-align: center;display: inline-block"><img  src="'+urlimg+'"  height="540px"  alt=""></a><div style="margin-top: 10px;font-size: 16px;color: #666;"><div style="display: inline-block;margin-left: 15px" id="note">'+note+'</div></div>'
                });
            }
        </script>
    </body>
</html>