<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>
            X-admin v1.0
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="/Public/Home/css/x-admin.css" media="all">
    </head>
    <body>
        <div class="x-body">
            <blockquote class="layui-elem-quote">
                <dl style="color:#019688">
                <dt><span >订单</span></dt>
                     <table class="layui-table">
                        <thead>
                            <tr>
                                <th>
                                    订单号
                                </th>
                               <th>
                                    订单金额
                                </th>
                                <th>
                                    商品
                                </th>
                                <th>
                                    订单状态
                                </th>
                                <th>
                                    签收时间
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <foreach name="o_info" item="v">
                                <tr>
                                    <td>
                                        {$v.orderno}
                                    </td>
                                    <td>
                                        {$v.orderprice|substr=###,0,-3}
                                    </td>
                                    <td>
                                        {$v.goods_de}
                                    </td>
                                    <td>
                                        <if condition="$v['orderstatus'] eq 1">待发货</if>
                                        <if condition="$v['orderstatus'] eq 2">已发货</if>
                                        <if condition="$v['orderstatus'] eq 3">已签收</if>
                                        <if condition="$v['orderstatus'] eq 4">退单</if>
                                    </td>
                                    <td>
                                        <if condition="$info['reciivingtime'] neq 0">
                                            {$v.reciivingtime|date="Y-m-d",###}
                                        </if>
                                    </td>
                                </tr>
                            </foreach>
                        </tbody>
                    </table>
              </dl>
            </blockquote>
            <div class="pd-20">
              <table  class="layui-table" lay-skin="line">
                <tbody>
                  <tr>
                    <th  width="80">订&nbsp; 单 &nbsp;数：</th>
                    <td>{$c_info.buyrate}</td>
                  </tr>
                  <tr>
                    <th>手机号码：</th>
                    <td>{$c_info.phone}</td>
                  </tr>
                  <tr>
                    <th>客户微信：</th>
                    <td>{$c_info.c_weixin}</td>
                  </tr>
                  <tr>
                    <th>微信名称：</th>
                    <td>{$c_info.a_role}</td>
                  </tr>
                  <tr>
                    <th>微&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;信：</th>
                    <td>{$c_info.a_weixin}</td>
                  </tr>
                  <tr>
                    <th>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</th>
                    <td>{$c_info.address}</td>
                  </tr>
                  <tr>
                    <th>添加时间：</th>
                    <td>{$c_info.create_time|date='Y-m-d',###}</td>
                  </tr>
                  <tr>
                    <th>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</th>
                    <td>{$c_info.note}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <script src="/Public/Home/lib/layui/layui.js" charset="utf-8">
        </script>
        <script src="/Public/Home/js/x-layui.js" charset="utf-8">
        </script>
        <script>
            layui.use(['form','layer'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;
            
              //自定义验证规则
              form.verify({
                nikename: function(value){
                  if(value.length < 5){
                    return '昵称至少得5个字符啊';
                  }
                }
                ,pass: [/(.+){6,12}$/, '密码必须6到12位']
                ,repass: function(value){
                    if($('#L_pass').val()!=$('#L_repass').val()){
                        return '两次密码不一致';
                    }
                }
              });

              console.log(parent);
              //监听提交
              form.on('submit(add)', function(data){
                console.log(data);
                //发异步，把数据提交给php
                layer.alert("增加成功", {icon: 6},function () {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                });
                return false;
              });
              
              
            });
        </script>
    </body>
</html>